extends layout
block content
  h1= "Team Schedule API"
  ul
    li
        Show All Schools:
        a(href="/teams") "/teams"
    // /li
    li
        Show School By Nickname:
        a(href="/teams/nickname/Cards") "/teams/nickname/Cards"
    // /li
    li
        Show School By Id:
        a(href="/teams/553d19d9720e3b3d31c7b9aa") "/teams/<_id>"
    // /li
    li
        Show School's Next Opponent By Nickname:
        a(href="/teams/nickname/Cards/next") "/teams/nickname/Cards/next"
    // /li
    li
        Show School's Next Opponent By Id:
        a(href="/teams/553d19d9720e3b3d31c7b9aa/next") "/teams/<_id>/next"
    // /li
  // /ul