extends layout

block content
  h1= "Team Schedule API"
  ul
    li 
        Show All Schools: 
        a(href="/teams") "/teams"
    // /li
    li 
        Show School By Nickname: 
        a(href="/teams/nickname/Cards") "/teams/nickname/Cards"
    // /li
    li 
        Show School By Id: 
        a(href="/teams/54ed3aae4b1f2cb5ffdb34c3") "/teams/<_id>"
    // /li
    li 
        Show School's Next Opponent By Nickname: 
        a(href="/teams/nickname/Cards/next") "/teams/nickname/Cards/next"
    // /li
    li 
        Show School's Next Opponent By Id: 
        a(href="/teams/54ed3aae4b1f2cb5ffdb34c3/next") "/teams/<_id>/next"
    // /li
  // /ul

